// RESET

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h4, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}
// END RESET




// Base

    //colors

$color-text-primary: hsl(197, 100%, 24%);
$color-text-secondary: hsl(184, 100%, 30%);
$color-text-accent: hsl(32, 100%, 48%);
$color-grey-300: hsl(0, 0%, 43%);
$color-grey-400: hsl(0, 0%, 32%);
$color-grey-500: hsl(0, 0%, 20%);
$color-grey-600: hsl(0, 0%, 13%);
$bg-image: radial-gradient(circle, rgba(247,130,0,1) 0%, rgba(0,142,152,1) 79%, rgba(0,86,121,1) 100%);


    // Typography

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;400&family=Exo+2:wght@700&family=Hind&display=swap');    

        // Font family

$font-header: ('Exo 2', sans-serif);
$font-title: ('BioRhyme', serif);
   
$font-text: ('Hind', sans-serif);

        // Font size
$fs-mobile: 1rem;
$fs-400: 1.2rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-700: 3rem;

        // Font Weight


$fw-normal: 400;
$fw-bold-header: 700;
$fw-light-title: 200;
$fw-bold-title: 400;



body {
    text-align: center;
    background-image: $bg-image;
    font-size: $fs-400;
}


// END BASE




// Header

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-grey-500;
    color: $color-text-accent;


    h1 {
        font-family: $font-header;
        font-size: $fs-700;
        font-weight: $fw-bold-header;
        padding: 1rem 0;
    }

    p {
        font-size: $fs-600;
        color: $color-text-secondary;
        padding-bottom: 2rem;
    }

}

// END HEADER




// Hero

.hero {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5rem auto;
    align-items: center;
    max-width: 1200px;

    
    .hero__img {
        margin-bottom: 1rem;
        background-color: $color-grey-600;

        img {
            max-width: 100%;
        }

        figcaption {
            color: $color-text-accent;
            background: $color-grey-600;;
            font-family: $font-title;
            font-size: $fs-400;
            font-weight: $fw-light-title;
            padding: 1rem;
            line-height: 1.2;
        }
    }

    .hero__text {
        font-size: $fs-500;
        background-color: $color-grey-600;
        color: $color-text-secondary;
        text-align: left;
        border-radius: 10px;
        padding: 2rem 0;

        .name {
            text-align: center;
            color: $color-text-accent;
            font-size: $fs-500;
            font-family: $font-title;
            font-weight: $fw-light-title;
            padding: 0.5rem 0;
        }

        p {
            padding: 1rem;
        }

        span {
            color: $color-text-accent;
        }
    }
}

// END HERO




// History

.history {
    background-color: $color-grey-300;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .title {
        border-radius: 10px;
        color: $color-text-primary;
        font-family: $font-title;
        font-weight: $fw-bold-title;
        font-size: $fs-700;
        margin: 1rem 0;
        width: 100%;

        h2 {
            padding: 1rem 2rem;
        }
    }

    
}

.history-info-con {
    ol {
        text-align: center;
        padding: 1rem 0 2rem;
        
        li {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
            font-size: $fs-500;
            padding: 0.5rem 1rem 3rem;
            color: $color-text-secondary;
            background-color: $color-grey-500;
            

            p{
                padding: 0.5rem 0 1rem;
                font-family: $font-title;
                font-weight: $fw-light-title;
                font-size: $fs-400;
                letter-spacing: 1px;
                line-height: 1.2;
                color: $color-text-accent;
                border-bottom: 2px solid $color-text-secondary;

            }

        }
    }
}


// END HISTORY




// Records

.records {
    background-color: $color-grey-300;
    margin: 2rem;
    padding: 1rem;


    .title {
        font-size: $fs-600;
        font-family: $font-title;
        font-weight: $fw-light-title;
        color: $color-text-secondary;
        background-color: $color-grey-600;

        margin: 1rem auto;
        border-radius: 10px;
        padding: 1rem;
    }

    .stats-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: start;



        h3 {
            background-color: $color-text-primary;
            font-family: $font-header;
            color: $color-text-accent;
            border: 1px solid $color-grey-400;
            border-radius: 10px;
            padding: 1rem 0;
            box-shadow: 0 0 30px 5px $color-text-secondary;
        }
    }

}


.records-container{
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;


}

.record {

    max-width: 500px;
    margin: auto;

    h4 {
        font-size: $fs-400;
        font-family: $font-title;
        font-weight: $fw-bold-title;
        color: hsla(0, 0%, 100%, 0.7);
        margin-top: 1rem;
        padding: 1rem 0 1rem;

    }

    p {
        font-size: $fs-400;
        padding-top: 1rem;
        font-weight: $fw-bold-title;
        &:not([class='category']) {
            font-size: $fs-mobile;
            padding-bottom: 1rem;
            border-bottom: 2px solid $color-text-primary;
            color: hsla(0, 0%, 0%, 0.60);
        }
        
        .amount {
            display: block;
            color: $color-text-accent;
            padding: 1rem 0;
            margin-bottom: 1rem;
            font-size: $fs-600;
        }
    }
    
    
}


@media screen and (min-width: 450px) {
    
    .records{
      
        .stats-container {
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            max-width: 650px;
            gap: 3rem;
        };  
    }
    
}

// END RECORDS




// Footer
footer {
    background-color: $color-grey-500;
    padding: 4rem;

    p {
        font-size: $fs-600;
        color: $color-text-primary;

        a {
            text-decoration: none;
            color: $color-text-accent;

            &:hover {
                color: $color-text-secondary;
            }
        }
    
    }
}

// END FOOTER