// RESET

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}
// END RESET




// Base

    //colors

$color-text-primary: hsl(197, 100%, 24%);
$color-text-secondary: hsl(184, 100%, 30%);
$color-text-accent: hsl(32, 100%, 48%);
$color-grey-300: hsl(0, 0%, 43%);
$color-grey-400: hsl(0, 0%, 32%);
$color-grey-500: hsl(0, 0%, 20%);
$color-grey-600: hsl(0, 0%, 13%);
$bg-image: radial-gradient(circle, hsl(32, 100%, 48%) 0%, hsl(184, 100%, 30%) 46%, hsl(197, 100%, 24%) 76%);


    // Typography

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;400&family=Exo+2:wght@700&family=Hind&display=swap');    

        // Font family

$font-header: ('Exo 2', sans-serif);
$font-title: ('BioRhyme', serif);
   
$font-text: ('Hind', sans-serif);

        // Font size

$fs-400: 1.2rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-700: 3rem;

        // Font Weight


$fw-normal: 400;
$fw-bold-header: 700;
$fw-light-title: 200;
$fw-bold-title: 400;


body {
    text-align: center;
    background-image: $bg-image;
    background-repeat: no-repeat;
    font-size: $fs-400;
}


// END BASE




// Header

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-grey-500;
    color: $color-text-accent;

    h1 {
        font-family: $font-header;
        font-size: $fs-700;
        font-weight: $fw-bold-header;
        padding: 3rem 0 2rem;
    }

    p {
        padding: 1rem 0 2rem;
        font-size: $fs-600;
        color: $color-text-secondary;
    }

}

// END HEADER




// Hero

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .hero__img {
        background-color: $color-grey-600;
        padding: 1rem;
        width: 100%;



        img {
            max-width: 100%;

        }

        figcaption {
            color: $color-text-accent;
            background: $color-grey-600;
            padding: 1rem 0;
            line-height: 1.5;
            font-family: $font-title;
            font-size: $fs-400;
            font-weight: $fw-light-title;
        }
    }

    .hero__text {
        font-size: $fs-500;
        background-color: $color-grey-600;
        color: $color-text-secondary;
        margin: 2rem;
        padding: 2rem;
        text-align: left;
        border-radius: 10px;

        .name {
            text-align: center;
            color: $color-text-accent;
            padding: 1rem 0;
            font-size: $fs-600;
            font-family: $font-title;
            font-weight: $fw-light-title;
        }

        p {
            
            padding: 1rem;
        }

        span {
            color: $color-text-accent;
        }
    }
}

// END HERO




// History

.history {
    background-color: $color-grey-300;
    border-radius: 20px;
    max-width: 75vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin: 2rem;
        background-color: $color-grey-600;
        border-radius: 30px;

        color: $color-text-primary;
        font-family: $font-title;
        font-weight: $fw-bold-header;
        font-size: $fs-700;

        h2 {
            padding: 3rem 10rem;

        }
    }

    ol {
        display: inline-block;
        text-align: center;
        li {
            font-size: $fs-500;
            padding: 0.5rem 0;
        }
    }
}


// END HISTORY




// Records

// END RECORDS




// Footer

// END FOOTER