@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;400&family=Exo+2:wght@700&family=Hind&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h4, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  text-align: center;
  background-image: linear-gradient(0deg, rgb(247, 130, 0) 0%, rgb(0, 142, 152) 50%, rgb(0, 86, 121) 100%);
  font-size: 1.2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  color: hsl(32, 100%, 48%);
}
header h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
}
header p {
  font-size: 2rem;
  color: hsl(184, 100%, 30%);
  padding-bottom: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1.5rem auto;
  align-items: center;
  max-width: 1200px;
}
.hero .hero__img {
  margin-bottom: 1rem;
  background-color: hsl(0, 0%, 13%);
}
.hero .hero__img img {
  max-width: 100%;
}
.hero .hero__img figcaption {
  color: hsl(32, 100%, 48%);
  background: hsl(0, 0%, 13%);
  font-family: "BioRhyme", serif;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 1rem;
  line-height: 1.2;
}
.hero .hero__text {
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 13%);
  color: hsl(184, 100%, 30%);
  text-align: left;
  border-radius: 10px;
  padding: 2rem 0;
}
.hero .hero__text .name {
  text-align: center;
  color: hsl(32, 100%, 48%);
  font-size: 1.5rem;
  font-family: "BioRhyme", serif;
  font-weight: 200;
  padding: 0.5rem 0;
}
.hero .hero__text p {
  padding: 1rem;
}
.hero .hero__text span {
  color: hsl(32, 100%, 48%);
}

.history {
  background-color: hsl(0, 0%, 43%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history .title {
  border-radius: 10px;
  color: hsl(197, 100%, 24%);
  font-family: "BioRhyme", serif;
  font-weight: 400;
  font-size: 3rem;
  margin: 1rem 0;
  width: 100%;
}
.history .title h2 {
  padding: 1rem 2rem;
}

.history-info-con ol {
  text-align: center;
  padding: 1rem 0 2rem;
}
.history-info-con ol li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 3rem;
  color: hsl(184, 100%, 30%);
  background-color: hsl(0, 0%, 20%);
}
.history-info-con ol li p {
  padding: 0.5rem 0 1rem;
  font-family: "BioRhyme", serif;
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: hsl(32, 100%, 48%);
  border-bottom: 2px solid hsl(184, 100%, 30%);
}

.records {
  background-color: hsl(0, 0%, 43%);
  margin: 2rem;
  padding: 1rem;
}
.records .title {
  font-size: 2rem;
  font-family: "BioRhyme", serif;
  font-weight: 200;
  color: hsl(184, 100%, 30%);
  background-color: hsl(0, 0%, 13%);
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
}
.records .stats-container {
  display: grid;
}
.records .stats-container h3 {
  background-color: hsl(197, 100%, 24%);
  font-family: "Exo 2", sans-serif;
  color: hsl(32, 100%, 48%);
  border: 1px solid hsl(0, 0%, 32%);
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 30px 5px hsl(184, 100%, 30%);
}

.record h4 {
  font-size: 1.2rem;
  font-family: "BioRhyme", serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: 1rem;
  padding: 1rem 0 1rem;
}
.record p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 400;
}
.record p:not([class=category]) {
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid hsl(197, 100%, 24%);
  color: hsla(0, 0%, 0%, 0.6);
}
.record p .amount {
  display: block;
  color: hsl(32, 100%, 48%);
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */